<%= render "devise/shared/header"%>

<% @tweets.each do |tweet| %>
    <a href="/users/<%= tweet.user.id %>">
     <p>投稿者：<%= tweet.user.name %></p></a>
     <p>宿泊施設：<%= tweet.hotel_name %><p>
     <p>コメント：<%= tweet.content %> </p>

       <%= link_to tweet_path(tweet.id) do %> 
        <div class='item-img-content'>
        <%= image_tag tweet.image.variant(resize: '800x800') ,class: "tweet-img" if tweet.image.attached? %>
  <% end %>
<% end %>
</div>
