      <% if current_user.id == @tweet.user_id %>
          <%= link_to "口コミの編集", edit_tweet_path(@tweet.id), method: :get %>｜
          <%= link_to "削除", tweet_path(@tweet.id) , method: :delete %>
      <% end %>

    <p><%= @tweet.hotel_name%></p>
    <p><%= image_tag @tweet.image.variant(resize: '700x700'),class: "tweet-img" %></p>
      <a href="/users/<%= @tweet.user.id %>"> </a>
     <p>投稿者：<%= @tweet.user.name %></p>
  